<!DOCTYPE html>
<html lang="{{ site.lang }}" class="no-js">
    <head>
        <meta charset="utf-8">
        <title>
            {%- if title -%}
                {{ title }} – {{ site.title }}
            {%- else -%}
                {{ site.title }} – {{ site.description }}
            {%- endif -%}
        </title>
        <meta name="description" content="{% block description %}{{ site.description }}{% endblock %}">
        <meta name="robots" content="index,follow">
        <meta name="generator" content="Eleventy">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="alternate" type="application/rss+xml" title="The Libre.fm blog &raquo; Feed" href="https://blog.libre.fm/feed/index.xml" />

	    <link href="https://cdn.cache.lol/profiles/themes/css/base.css?v=2024-09-10" rel="stylesheet">
	    <link href="https://cdn.cache.lol/profiles/themes/css/neonknight.css" rel="stylesheet">
	    <style>
	    * {
	        text-align: left;
	    }

	    p, li {
	        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
	        /* Only supported on Chromium-based browsers and Safari */
	        font-family: system-ui;
	    }
	    </style>
    </head>
    <body>
                {% include "partials/header.njk" %}

                <main>
					<section>
                        {% block content %}
                        {% endblock content %}
					</section>
                </main>

                {% include "partials/footer.njk" %}
    </body>
</html>
