<footer class="site-foot">
<ul>
{%- for page in collections.posts %}
  {% set absoluteUrl %}{{ page.url | url | absoluteUrl("https://blog.libre.fm") }}{% endset %}
  <li><a href="{{ absoluteUrl }}">{{ page.title }}</a></li>
{%- endfor %}
</ul>

</footer>
